{% extends 'freelance/freelancer_index.html' %}
{% block body %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<p><h2><a href="/freelancer/profileupdate/">update profile</a></h2></p>#}
{#<p><h2><a href="/freelancer/pservice">post service</a></h2></p>#}
{#<p><h2><a href="/freelancer/urserv/">services you offered</a></h2></p>#}
{#<p><h2><a href="/freelancer/viclient">view clients</a></h2></p>#}
{#<p><h2><a href="/freelancer/vnotifications">view notifications</a></h2></p>#}
{#<p><h2><a href="/freelancer/scomp">sent complaints</a></h2></p>#}
{#<p><h2><a href="/freelancer/vreply">view reply</a></h2></p>#}
{#<p><h2><a href="/freelancer/vfeed">view feedbacks</a></h2></p>#}
{#<p><h2><a href="/freelancer/vorder">orders</a></h2></p>#}
{#<p><h2><a href="/freelancer/pserv/">postedservices</a></h2></p>#}
{#<p><h2><a href="/freelancer/logout">logout</a></h2></p>#}
{#</body>#}
{#</html>#}
{% endblock %}