{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'client/client_index.html' %}
{% block body %}

 <style>
        .table-responsive{
    box-shadow:0 0 20px grey;
    }
        .table-responsive  th{
            background-color: transparent;
        color: black;
        font-weight: bold;
            border-collapse: collapse;
        }
 .table-responsive  tr:last-of-type {
    border-bottom: 2px solid red;
    }
</style>

<form id="form1" name="form1" method="post" action="/freelancer/sendpayment/{{ p }}/{{ pr }}">
    {% csrf_token %}
  <p>&nbsp;</p>
  <table width="345" align="center" border="0" class="table table-responsive">
    <tr>
      <th width="92" height="46" scope="row">Bank Name</th>
      <td width="186"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="SBI" /></td>
    </tr>
    <tr>
      <th height="43" scope="row">A/C no</th>
      <td><input type="text" name="textfield2" id="textfield2" value="123456789" /></td>
    </tr>
    <tr>
      <th height="39" scope="row">IFSC code</th>
      <td><input type="text" name="textfield3" id="textfield3"  value="123123"/></td>
    </tr>
    <tr>
      <th height="52" scope="row">Amount</th>
      <td><input type="text" name="textfield4" id="textfield4" value="{{ pr }}" /></td>
    </tr>
    <tr>
      <th height="46" colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="pay" class="btn btn-primary" /></div></th>
    </tr>
  </table>
</form>
{% endblock %}