{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>feedback.html</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'client/client_index.html' %}
{% block body %}
    <style>
        .table-responsive{
    box-shadow:0 0 20px grey;
    }
        .table-responsive  th{

            background-color: orangered;
        color: white;
        font-weight: bold;
            font-size: .5cm;
            border-collapse: collapse;
        }
 .table-responsive  tr:last-of-type {
    border-bottom: 2px solid red;
    }
</style>


<form action="" method="get">
  <div align="center">
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
{#    <p>&nbsp;</p>#}
    <table width="337"  border="0" class="table table-responsive">
      <tr>
        <th width="41" height="38" scope="col"><h3>#</h3></th>
        <th width="93" scope="col">client </th>
        <th width="107" scope="col">feedback</th>
        <th width="68" scope="col">date</th>
      </tr>
               {% for i in p %}
        <tr>
        <td>&nbsp;{{ forloop.counter }}</td>
        <td>{{ i.26 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2 }} </td>

      </tr>
        {% endfor %}

    </table>
  </div>
</form>
{% endblock %}